APP_NAME="KAVACH AI API"
APP_ENV=development
DEBUG=True
API_V1_PREFIX=/api/v1

SECRET_KEY=super_secret_dev_key_change_me_in_production
ACCESS_TOKEN_EXPIRE_MINUTES=10080
REFRESH_TOKEN_EXPIRE_DAYS=30

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/kavach_dev

FRONTEND_ORIGINS=["http://localhost:5173"]

UPLOAD_DIRECTORY=uploads/
MAX_UPLOAD_SIZE_MB=10
STORAGE_PROVIDER=local

# REDIS_URL=redis://localhost:6379/0
AI_PROVIDER=gemini
AI_MODEL=gemini-2.5-flash
LLM_API_KEY=AQ.Ab8RN6Jr8cnB8cWxWTt3UEi8ybB99zmc9GoWRyrmw4VuvmX1eQ
STT_PROVIDER=mock
OCR_PROVIDER=mock
